<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WhatWearToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6487D44F1D74C19100C22EA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6487D4661D74C19100C22EA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6487D4711D74C19200C22EA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
